.concontainer{
   display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;             
}
.row {
    display: flex;         
    align-items: center;   
    gap: 40px;  
    margin: 50px;          
}

.birinci{
     width: 250px;
    color: blue;
   font-weight: bold;

}
.ikinci{
    width: 400px;
    color: black; 
    
}